# FIRST DATA COLLECTION (180K DATA)

In [32]:
import pandas as pd
import csv
import numpy as np
import re

In [33]:
cols = ['id','useful','funny','username','no_game','no_review','sentiment','hours','date','text'] #assign column for read CSV
filename = 'reviews.csv'
df = pd.read_csv(filename,header=None, names=cols)

In [34]:
del df['id']
del df['useful']
del df['funny']
del df['username']
del df['no_game']
del df['no_review']
del df['hours']
del df['date']

In [37]:
df.head()

   sentiment                                               text
0         -1  Game is fun for a while with friends but there...
1         -1  Without a doubt the best Battle Royale. I also...
2         -1  every update " we will optimize the game "usel...
3         -1  PUBG feeds off the fame that it created. With ...
4         -1  this game suck alot of ♥♥♥♥♥♥♥ china hacker ♥♥...

In [36]:
df.describe()

           sentiment
count  130680.000000
mean        0.187022
std         0.982360
min        -1.000000
25%        -1.000000
50%         1.000000
75%         1.000000
max         1.000000

In [30]:
df=df.drop_duplicates()
df=df.dropna()
#dfnew=dfnew[~dfnew.text.str.contains('♥')]
df['text'] = df['text'].str.replace('♥','LOVE ')
df['text'] = df['text'].apply(lambda row: row.encode('ascii',errors='ignore').decode())

In [31]:
df.describe()

              recom
count  88197.000000
mean       0.132896
std        0.991136
min       -1.000000
25%       -1.000000
50%        1.000000
75%        1.000000
max        1.000000

In [ ]:
df.to_csv('reviewnew223.csv', encoding='utf-8',header=True)

# FILTER DATA COLLECTION (20K DATA)

In [9]:
filename = 'reviewnew223.csv'
df = pd.read_csv(filename)

In [10]:
df.describe()

         text sentiment
count   87191     88197
unique  86137         2
top            positive
freq      170     49959

In [11]:
df=df.drop_duplicates()
df=df.dropna()
df['text'] = df['text'].str.replace('♥','LOVE ')
df['text'] = df['text'].apply(lambda row: row.encode('ascii',errors='ignore').decode())

In [12]:
df.describe()

                                                     text sentiment
count                                               86501     86501
unique                                              86137         2
top     Bluehole Chinese Official indulges Chinese fam...  positive
freq                                                    2     49198

In [13]:
train = pd.DataFrame()
test = pd.DataFrame()

df['split'] = np.random.randn(df.shape[0], 1)

msk = np.random.rand(len(df)) <= 0.76

train = df[msk]
test = df[~msk]

train=train.dropna()
test=test.dropna()

del test['split']
del train['split']

In [14]:
test.describe()

         text sentiment
count   20603     20603
unique  20581         2
top        ok  positive
freq        2     11727

In [15]:
train.describe()

         text sentiment
count   65898     65898
unique  65696         2
top         -  positive
freq        2     37471

In [ ]:
no = 20
filename = ('data{}k.csv'.format(no))
test.to_csv(filename, encoding='utf-8',header=True)

# SPLIT DATA COLLECTION (60:40 DATA)

In [17]:
filename = 'data20k.csv'
df = pd.read_csv(filename)

In [18]:
df=df.drop_duplicates()
df=df.dropna()
df['text'] = df['text'].apply(lambda row: row.encode('ascii',errors='ignore').decode())

'''df['text'] = df['text'].str.replace('♥','LOVE ')
df['text'] = df['text'].str.replace(',', '')
df['text'] = df['text'].str.replace('.', '')
df['text'] = df['text'].str.replace('+', '')
df['text'] = df['text'].str.replace('/', '')
df['text'] = df['text'].str.replace('=', '')
df['text'] = df['text'].str.replace(')', '')
df['text'] = df['text'].str.replace(':', '')
df['text'] = df['text'].str.replace('(', '') '''

lst = []


for te in df['text']:
    te = re.sub(r'[^\w]', ' ', te)
    lst.append(te)

df['text'] = lst

In [19]:
df.describe()

         text sentiment
count   20869     20869
unique  20764         2
top            positive
freq       10     11835

In [20]:
train = pd.DataFrame()
test = pd.DataFrame()

df['split'] = np.random.randn(df.shape[0], 1)

msk = np.random.rand(len(df)) <= 0.6

train = df[msk]
test = df[~msk]

In [21]:
train=train.dropna()
test=test.dropna()

del test['split']
del test['sentiment']
del train['split']

In [24]:
test.describe()

        text
count   8345
unique  8322
top
freq       5

In [25]:
train.describe()

         text sentiment
count   12524     12524
unique  12473         2
top            positive
freq        8      7117

In [ ]:
no = 20
filename = ('data{}k-testing.csv'.format(no))
filename2 = ('data{}k-training.csv'.format(no))

test.to_csv(filename, encoding='utf-8',header=True)
train.to_csv(filename2, encoding='utf-8',header=True)